<div class="row">
    <div ng-controller="AdminRankCtrl">
      <h1>{{PageTitle}}</h1>

      <form ng-submit="AddNewRank()">
        <div class="form-group col-md-9 col-xs-8">
          <label class="sr-only" for="add-todo">Belt Rank</label>
          <input ng-model="newRank" type="text" class="form-control input-lg" id="add-rank" placeholder="Belt Rank">
        </div>
        <button type="submit">Add</button>
      </form>
      <ul>
        <li>White</li>
        <li>Gold</li>
      </ul>
    </div>
</div>